header{
  background-color: #0C2B4E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow:0 2px 20px rgb(31, 69, 99);
    transition: all 0.1 ease;
}
section{
  padding: 500px;
  width: 700px;
  font-size: large;
  text-align: center;
  font-style:italic;
  color: #ffffff;
  text-shadow: #F4F4F4;
  background-image:url(image1.webp);
  max-width: 2500px;
  background-repeat: no-repeat;
  background-size: 1800px;
  
}
h2{
  text-shadow:#ffffff ;
 color: #ffffff;
 font-size: larger;
}

.logo{
  font-size:2rem;
  font-weight: bold;
  background:linear-gradient(45deg, #064d9f #1A3D64);
 -webkit-transform : transparent;
  background-clip: text;
  color: #f9f9fb;
}
.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
nav ul{
  display: flex;
  list-style: none;
  gap: 2rem;
  }
nav a{
  text-decoration: none;
  color: #F4F4F4;
  font-weight:500;
  padding:0.5rem 1rem;
  border-radius:25px;
  transition: all 0.3s ease;
  position:relative;
  overflow: hidden;
}

nav a:hover{
  color:white;
  background:linear-gradient(45deg,#1D546C, #45c7ff);
  box-shadow: 0 5px 15px rgb (102,126,234);
}
.active{
  color:white;
  background:linear-gradient(45deg,#1D546C,#45c7ff);
  box-shadow: 0 5px 15px rgb (102,126,234);
}
.gallery-footer{
  background-color: #1D546C;
  color: #fbfcfc;
  padding: 20px 0 20px;
  position: relative;
}
.footer-container{
  max: width 1200px;
  margin: 0 auto;
padding:0 20px;  
}
.footer-content{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 40 px;
margin-bottom: 10px;
}
.social-media
{
  color: #0C2B4E;
} 
.footer-bottom{
  font-size:14px;
  text-align:center;
}

.gallery-info h3,
.social-media h4,
.contact-info h4 { 
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: normal;
}
.social-link{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background:#0C2B4E;
  border:2px solid#18559b;
    border-radius: 50%;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.social-link:hover{
    color: #ffffff;
    border-color: #fefefe;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgb(9, 9, 9);
}
h5{
  color: #F4F4F4;
}
body{
  font-family: 'Times New Roman', Times, serif;
  line-height:1.6;
  color: #0C2B4E;
  background-color: rgb(255, 255, 255);
}
.intro p{

}
.gallery-item img{
  width:100%;
  height: 200px;
  object-fit:cover;
  display:block;
  transition:all 0.3s ease;
}
.gallery-item:hover{
  transform:translateY(-5px) ;
  box-shadow:0 8px 34px #0b519c;
}